.signin-page {
  margin-top: 4.1rem;
}
.auth-img {
  position: absolute;
  opacity: 0.7;
  width: 30rem;
}
.auth-form {
  width: 40%;
  margin: 1rem auto;
  padding: 3rem 2rem;
  position: relative;
  box-shadow: rgba(149, 157, 165, 0.2) 0 0.5rem 1.5rem;
}
.auth-form a {
  color: var(--black);
}
.log-input {
  width: 20rem;
}
.or-divider:after,
.or-divider:before {
  content: "\2003\2003\2003\2003\2003\2003";
  text-decoration: line-through;
  color: var(--gray-shade3);
}
@media only screen and (max-width: 450px) {
  .auth-form {
    width: 95%;
  }
  .auth-img {
    display: none;
  }
}
@media only screen and (max-width: 1000px) and (min-width: 451px) {
  .auth-form {
    width: 80%;
  }
}
