.vl-sidebar {
  padding: 2rem;
  position: fixed;
}
.vl-sidebar a {
  color: var(--black);
}
@media only screen and (max-width: 450px) {
  .vl-sidebar {
    padding: 0.5rem;
    position: relative;
    display: flex;
    overflow: auto;
    white-space: nowrap;
    gap: 1.5rem;
  }
  .vl-sidebar div {
    padding-bottom: 5px;
  }
}
