.banner-img-container {
  position: relative;
}
.banner-btn {
  position: absolute;
  bottom: 3rem;
  left: 3rem;
}
.video-list-container {
  flex-wrap: wrap;
}
.video-meta-text {
  margin-left: 5px;
}
.channel-thumbnail {
  min-height: 2.3rem;
  min-width: 2.3rem;
  max-height: 2.3rem;
  max-width: 2.3rem;
}
.video-container {
  width: 14rem;
  object-fit: cover;
}
.video-container img {
  width: 100%;
}
.video-title {
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.video-channel-name,
.video-views,
.video-age {
  font-size: 0.8rem;
}
.video-meta-info {
  color: var(--grey);
  gap: 4px;
  margin-top: 3px;
}
.action-menu {
  padding: 0 4px;
  position: relative;
}
.action-menu-options {
  background-color: var(--blue-shade5);
  position: absolute;
  padding: 0.5rem 0;
  right: 0px;
  width: 12rem;
  border-radius: 3px;
}
.action-option-block {
  padding: 0.4rem 0.8rem;
}
.action-option {
  padding-right: 0.5rem;
}
.popup-overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.popup-container {
  background-color: var(--white);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 8px 12px;
}
