.banner-img-container {
  position: relative;
}
.banner-btn {
  position: absolute;
  bottom: 3rem;
  left: 3rem;
}
.video-list-container {
  flex-wrap: wrap;
}
.video-meta-text {
  margin-left: 5px;
}
.channel-thumbnail {
  min-height: 2.3rem;
  min-width: 2.3rem;
  max-height: 2.3rem;
  max-width: 2.3rem;
}
.video-container {
  width: 14rem;
  object-fit: cover;
}
.video-container img {
  width: 100%;
}
.video-title {
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.video-channel-name,
.video-views,
.video-age {
  font-size: 0.8rem;
}
.video-meta-info {
  color: var(--grey);
  gap: 4px;
  margin-top: 3px;
}
.action-menu {
  position: relative;
}
.action-menu .fa-ellipsis-v {
  padding: 0 10px;
}
.action-menu-options {
  background-color: var(--gray-shade1);
  position: absolute;
  padding: 0.5rem 0;
  right: 0px;
  width: max-content;
  border-radius: 3px;
}
.action-option-block {
  padding: 0.4rem 0.8rem;
}
.action-option {
  padding-right: 0.5rem;
}
.popup-overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
}
.popup-container {
  background-color: var(--white);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
}
.popup-header {
  padding: 0 0 0.5rem;
  border-bottom: 1px solid var(--grey-2);
}
.popup-close-icon {
  color: var(--grey);
}
.playlist-container {
  min-height: 70vh;
}
.list-playlist {
  margin: 0.5rem 0;
}
.list-playlist input {
  margin-right: 0.8rem;
  height: 1.14rem;
  width: 1.14rem;
}
.list-playlist-block {
  border-bottom: 1px solid var(--grey-2);
}
.list-of-paylist {
  min-width: 40%;
}
.playlist-videos {
  min-width: 55%;
  padding-left: 3vw;
  border-left: 2px solid var(--light-grey);
}
.playlist-image {
  background-color: var(--light-grey);
  width: 18rem;
  height: 10rem;
  margin-bottom: 4rem;
}
.playlist-image img {
  width: 100%;
}
.playlist-card-footer {
  background-color: var(--gray-shade1);
  padding: 8px;
  width: 100%;
  text-transform: uppercase;
}
.playlist-card-footer button {
  background-color: transparent;
  border: 0;
  color: var(--red);
}
.playlist-video {
  height: 6rem;
  margin-bottom: 1rem;
}
.playlist-video-creator {
  font-size: 0.85rem;
}
.popup-footer {
  margin-top: 0.5rem;
}
.popup-footer .fa-plus {
  color: var(--grey);
}
.enter-playlist-name {
  outline: 0;
  padding: 4px 8px;
}
.category-list {
  border-top: 1px solid var(--light-grey);
  border-bottom: 1px solid var(--light-grey);
  padding: 10px 0;
}
.category-item {
  background-color: var(--light-grey);
  padding: 5px 12px;
  border-radius: 1rem;
}
.empty-list {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-25%, -50%);
}
@media only screen and (max-width: 450px) {
  .video-container {
    width: 95%;
  }
  .video-list-container {
    justify-content: space-evenly;
    padding: 0 0.5rem;
  }
  .video-meta-text {
    flex-grow: 1;
  }
  .playlist-image {
    width: 11rem;
    height: 5rem;
  }
  .list-of-paylist {
    display: flex;
    overflow: auto;
    white-space: nowrap;
    padding: 0 0.5rem;
    gap: 1rem;
  }
  .playlist-container {
    display: flex;
    flex-direction: column;
  }
  .category-list {
    overflow: auto;
    white-space: nowrap;
  }
}
