* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: large;
}
:root {
  --blue-shade1: #04009a;
  --blue-shade2: #77acf1;
  --blue-shade3: #3edbf0;
  --blue-shade4: #c0fefc;
  --blue-shade5: #e3eefc;
}
.app-body {
  margin-top: 4.1rem;
}
.vl-pri-btn {
  background-color: var(--blue-shade1);
  color: var(--white);
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}
.vl-page-container {
  margin-left: 20vw;
  min-height: 80vh;
}
@import url(https://patched-ui.netlify.app/utility-classes.css);
