* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: large;
}
:root {
  --black-shade1: #2e2e2e;
  --gray-shade1: #eeeeee;
}
.app-body {
  margin-top: 4.1rem;
}
.vl-pri-btn {
  background-color: var(--black-shade1);
  color: var(--white);
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}
.vl-page-container {
  margin-left: 17vw;
  min-height: 80vh;
  padding-left: 3vw;
  border-left: 2px solid var(--light-grey);
}
.vl-toast {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
}
@import url(https://patched-ui.netlify.app/utility-classes.css);
